@layer base {
  :root {
    --in--primary: 200 100% 60%;
    --in--primary-foreground: 0 0% 98%;

    --in--accent: 200 80% 70%;
    --in--accent-foreground: 0 0% 98%;

    --in--destructive: 0 80% 60%;
    --in--destructive-foreground: 0 0% 98%;

    --in--chart-1: 200 100% 60%;
    --in--chart-2: 140 60% 40%;
    --in--chart-3: 16 100% 66%;
    --in--chart-4: 280 65% 60%;
    --in--chart-5: 0 80% 60%;

    --in--radius: 0.5rem;
  }

  :root,
  [data-inverter-theme='light'] {
    --in--background: 0 0% 100%;
    --in--foreground: 0 0% 3.9%;
    --in--card: 0 0% 100%;
    --in--card-foreground: 0 0% 3.9%;
    --in--popover: 0 0% 100%;
    --in--popover-foreground: 0 0% 3.9%;
    --in--secondary: 0 0% 96.1%;
    --in--secondary-foreground: 0 0% 9%;
    --in--muted: 0 0% 96.1%;
    --in--muted-foreground: 0 0% 45.1%;
    --in--border: 0 0% 89.8%;
    --in--input: 0 0% 89.8%;
    --in--ring: 0 0% 3.9%;
  }

  [data-inverter-theme='dark'] {
    --in--background: 0 0% 3.9%;
    --in--foreground: 0 0% 98%;
    --in--card: 0 0% 3.9%;
    --in--card-foreground: 0 0% 98%;
    --in--popover: 0 0% 3.9%;
    --in--popover-foreground: 0 0% 98%;
    --in--secondary: 0 0% 14.9%;
    --in--secondary-foreground: 0 0% 98%;
    --in--muted: 0 0% 14.9%;
    --in--muted-foreground: 0 0% 63.9%;
    --in--border: 0 0% 14.9%;
    --in--input: 0 0% 14.9%;
    --in--ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply in--border-border;
  }
}
