@layer base {
  :root {
    --in--radius: 0.5rem;
  }

  :root,
  [data-inverter-theme='light'] {
    --in--background: 210 20% 98%;
    --in--background-2: 210 8% 95%;

    --in--foreground: 222 9% 21%;

    --in--accent: 220 18% 10% / 0.03;
    --in--accent-foreground: 220 18% 10%;

    --in--card: 0 0 100%;
    --in--card-foreground: 220 18% 10%;

    --in--destructive: 5 77% 47%;
    --in--destructive-active: 5 77% 47%;
    --in--destructive-foreground: 0 0 100%;
    --in--destructive-hover: 7 85% 60%;

    --in--input: 216 4% 74%;
    --in--input-hover: 220 4% 44%;

    --in--link: 240 92% 65%;
    --in--link-active: 240 92% 65%;
    --in--link-hover: 235 100% 72%;

    --in--muted: 220 4% 44%;
    --in--muted-foreground: 220 18% 10%;

    --in--popover: 0 0 100%;
    --in--popover-foreground: 220 18% 10%;

    --in--primary: 220 18% 10%;
    --in--primary-active: 220 18% 10%;
    --in--primary-foreground: 0 0 100%;
    --in--primary-hover: 222 9% 21%;

    --in--secondary: 220 18% 10% / 0.08;
    --in--secondary-active: 220 18% 10% / 0.06;
    --in--secondary-foreground: 220 18% 10%;
    --in--secondary-hover: 220 18% 10% / 0.12;

    --in--border: 210 4% 82%;
    --in--ring: 235 100% 72%;

    --in--error: 5 77% 47%;
    --in--success: 101 84% 27%;
    --in--warning: 44 100% 28%;
  }

  [data-inverter-theme='dark'] {
    --in--accent: 0 0 100% / 0.03;
    --in--accent-foreground: 0 0 100%;

    --in--background: 220 9% 7%;
    --in--background-2: 220 7% 9%;
    --in--foreground: 0 0 100%;

    --in--card: 210 8% 10%;
    --in--card-foreground: 0 0 100%;

    --in--destructive: 7 87% 56%;
    --in--destructive-active: 7 87% 56%;
    --in--destructive-foreground: 0 0 100%;
    --in--destructive-hover: 10 100% 67%;

    --in--input: 204 4% 26%;
    --in--input-hover: 204 2% 39%;

    --in--link: 237 73% 68%;
    --in--link-active: 233 80% 74%;
    --in--link-hover: 233 79% 81%;

    --in--muted: 204 3% 61%;
    --in--muted-foreground: 0 0 100%;

    --in--popover: 220 9% 7%;
    --in--popover-foreground: 0 0 100%;

    --in--primary: 0 0 100%;
    --in--primary-active: 210 4% 69%;
    --in--primary-foreground: 220 9% 7%;
    --in--primary-hover: 200 17% 93%;

    --in--secondary: 0 0 100% / 0.06;
    --in--secondary-active: 0 0 100% / 0.04;
    --in--secondary-foreground: 0 0 100%;
    --in--secondary-hover: 0 0 100% / 0.08;

    --in--error: 10 100% 67%;
    --in--success: 127 67% 42%;
    --in--warning: 40 69% 47%;

    --in--ring: 237 73% 68%;
    --in--border: 204 4% 26%;

    --in--chart-1: 155 78% 55%;
    --in--chart-2: 204 4% 26%;
    --in--chart-3: 155 78% 55%;
    --in--chart-4: 7 87% 56%;
    --in--chart-5: 127 67% 42%;
  }
}

@layer base {
  * {
    @apply in--border-border;
  }
}
