/* Import project styles */

@tailwind utilities;

/* base styles */

._GzYRV {
  line-height: 1.2;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

._3eOF8 {
  margin-right: 5px;
  font-weight: bold;
}

._1MFti {
  cursor: pointer;
}

._f10Tu {
  font-size: 1.2em;
  margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

._1UmXx::after {
  content: '\25B8';
}

._1LId0::after {
  content: '\25BE';
}

._1pNG9 {
  margin-right: 5px;
}

._1pNG9::after {
  content: '...';
  font-size: 0.8em;
}

._2IvMF{
  border-radius: calc(var(--in--radius) - 4px);
  border-width: 1px;
  border-color: hsl(var(--in--input));
  background-color: hsl(var(--in--background));
}

._2bkNM {
  margin: 0 10px;
  padding: 0.3rem 0.1rem;
}

/* default light style */

._1MGIk,
._vGjyY,
._3uHL6,
._oLqym,
._2KJWg,
._2AXVT{
  color: hsl(var(--in--foreground));
}

._1xvuR{
  color: hsl(var(--in--foreground) / 0.6);
}

._1MGIk {
  font-weight: 600;
  margin-right: 5px;
}

._1Gho6,
._2T6PJ{
  color: hsl(var(--in--destructive));
}

._1bQdo{
  color: hsl(var(--in--primary));
}

._3zQKs{
  color: hsl(var(--in--primary));
}

/* React Select */

.in--react-select-container .react-select__control,
.in--react-select-container .react-select__menu{
  border-radius: calc(var(--in--radius) - 4px);
  border-width: 1px;
  border-color: hsl(var(--in--input));
  background-color: hsl(var(--in--background));
}

.in--react-select-container .react-select__option{
  background-color: hsl(var(--in--background));
  color: hsl(var(--in--foreground));
}

.in--react-select-container .react-select__option:hover{
  background-color: hsl(var(--in--primary));
  color: hsl(var(--in--foreground));
}

.in--react-select-container .react-select__option:hover:is([data-inverter-theme="dark"] *){
  color: hsl(var(--in--primary-foreground));
}

.in--react-select-container .react-select__multi-value,
.in--react-select-container .react-select__multi-value__label,
.in--react-select-container .react-select__single-value{
  color: hsl(var(--in--foreground));
}

.in--react-select-container .react-select__multi-value{
  background-color: hsl(var(--in--accent));
}

.in--react-select-container .react-select__multi-value__label{
  color: hsl(var(--in--accent-foreground));
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
  --in--primary: 207 100% 60%;
  --in--primary-foreground: 0 0% 100%;
  --in--accent: 32 100% 94%;
  --in--accent-foreground: 224 5% 15%;
  --in--destructive: 0 84% 41%;
  --in--destructive-foreground: 0 0% 100%;
  --in--chart-1: 16 100% 66%;
  --in--chart-2: 157 61% 63%;
  --in--chart-3: 36 3% 32%;
  --in--chart-4: 47 100% 68%;
  --in--chart-5: 27 87% 67%;
  --in--radius: 0.5rem;
}

:root,
  [data-inverter-theme='light'] {
  --in--background: 0 0% 100%;
  --in--foreground: 224 5% 10%;
  --in--card: 30 100% 98%;
  --in--card-foreground: 224 5% 15%;
  --in--popover: 180 20% 98%;
  --in--popover-foreground: 224 95% 10%;
  --in--secondary: 16 100% 66%;
  --in--secondary-foreground: 0 0% 100%;
  --in--muted: 30 22% 94%;
  --in--muted-foreground: 25 5% 44%;
  --in--border: 211 21% 80%;
  --in--input: 211 21% 70%;
  --in--ring: 207 100% 60%;
}

[data-inverter-theme='dark'] {
  --in--background: 222 22% 9%;
  --in--foreground: 0 0% 100%;
  --in--card: 222 21% 12%;
  --in--card-foreground: 0 0% 100%;
  --in--popover: 220 27% 13%;
  --in--popover-foreground: 0 0% 100%;
  --in--secondary: 16 100% 66%;
  --in--secondary-foreground: 0 0% 0%;
  --in--muted: 222 22% 22%;
  --in--muted-foreground: 0 0% 60%;
  --in--border: 221 27% 20%;
  --in--input: 212 30% 24%;
  --in--ring: 212 56% 40%;
}

*{
  border-color: hsl(var(--in--border));
}

.in--sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.in--pointer-events-none{
  pointer-events: none;
}

.in--invisible{
  visibility: hidden;
}

.in--fixed{
  position: fixed;
}

.in--absolute{
  position: absolute;
}

.in--relative{
  position: relative;
}

.in--inset-0{
  inset: 0px;
}

.in--inset-x-0{
  left: 0px;
  right: 0px;
}

.in--inset-y-0{
  top: 0px;
  bottom: 0px;
}

.in--bottom-0{
  bottom: 0px;
}

.in--left-0{
  left: 0px;
}

.in--left-1{
  left: 0.25rem;
}

.in--left-1\/2{
  left: 50%;
}

.in--left-2{
  left: 0.5rem;
}

.in--left-\[50\%\]{
  left: 50%;
}

.in--right-0{
  right: 0px;
}

.in--right-1{
  right: 0.25rem;
}

.in--right-4{
  right: 1rem;
}

.in--start-2{
  inset-inline-start: 0.5rem;
}

.in--top-0{
  top: 0px;
}

.in--top-1\/2{
  top: 50%;
}

.in--top-2{
  top: 0.5rem;
}

.in--top-4{
  top: 1rem;
}

.in--top-6{
  top: 1.5rem;
}

.in--top-\[50\%\]{
  top: 50%;
}

.in--z-10{
  z-index: 10;
}

.in--z-50{
  z-index: 50;
}

.in--col-span-1{
  grid-column: span 1 / span 1;
}

.in--row-start-2{
  grid-row-start: 2;
}

.in--m-0{
  margin: 0px;
}

.in---mx-1{
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.in--mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.in--my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.in--my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.in--mb-1{
  margin-bottom: 0.25rem;
}

.in--mb-2{
  margin-bottom: 0.5rem;
}

.in--ml-1{
  margin-left: 0.25rem;
}

.in--ml-2{
  margin-left: 0.5rem;
}

.in--ml-auto{
  margin-left: auto;
}

.in--mr-0\.5{
  margin-right: 0.125rem;
}

.in--mr-1{
  margin-right: 0.25rem;
}

.in--mr-2{
  margin-right: 0.5rem;
}

.in--mt-2{
  margin-top: 0.5rem;
}

.in--mt-24{
  margin-top: 6rem;
}

.in--mt-3{
  margin-top: 0.75rem;
}

.in--mt-4{
  margin-top: 1rem;
}

.in--mt-auto{
  margin-top: auto;
}

.in--block{
  display: block;
}

.in--flex{
  display: flex;
}

.in--inline-flex{
  display: inline-flex;
}

.in--grid{
  display: grid;
}

.in--hidden{
  display: none;
}

.in--aspect-video{
  aspect-ratio: 16 / 9;
}

.in--size-12{
  width: 3rem;
  height: 3rem;
}

.in--size-6{
  width: 1.5rem;
  height: 1.5rem;
}

.in--size-8{
  width: 2rem;
  height: 2rem;
}

.in--h-10{
  height: 2.5rem;
}

.in--h-11{
  height: 2.75rem;
}

.in--h-12{
  height: 3rem;
}

.in--h-2{
  height: 0.5rem;
}

.in--h-3{
  height: 0.75rem;
}

.in--h-3\.5{
  height: 0.875rem;
}

.in--h-4{
  height: 1rem;
}

.in--h-5{
  height: 1.25rem;
}

.in--h-6{
  height: 1.5rem;
}

.in--h-7{
  height: 1.75rem;
}

.in--h-9{
  height: 2.25rem;
}

.in--h-\[1px\]{
  height: 1px;
}

.in--h-\[var\(--radix-select-trigger-height\)\]{
  height: var(--radix-select-trigger-height);
}

.in--h-auto{
  height: auto;
}

.in--h-full{
  height: 100%;
}

.in--h-max{
  height: -moz-max-content;
  height: max-content;
}

.in--h-px{
  height: 1px;
}

.in--max-h-96{
  max-height: 24rem;
}

.in--max-h-\[300px\]{
  max-height: 300px;
}

.in--max-h-\[80vh\]{
  max-height: 80vh;
}

.in--max-h-full{
  max-height: 100%;
}

.in--min-h-\[100px\]{
  min-height: 100px;
}

.in--min-h-\[120px\]{
  min-height: 120px;
}

.in--min-h-\[80px\]{
  min-height: 80px;
}

.in--w-10{
  width: 2.5rem;
}

.in--w-11{
  width: 2.75rem;
}

.in--w-2{
  width: 0.5rem;
}

.in--w-3{
  width: 0.75rem;
}

.in--w-3\.5{
  width: 0.875rem;
}

.in--w-3\/4{
  width: 75%;
}

.in--w-4{
  width: 1rem;
}

.in--w-5{
  width: 1.25rem;
}

.in--w-6{
  width: 1.5rem;
}

.in--w-64{
  width: 16rem;
}

.in--w-7{
  width: 1.75rem;
}

.in--w-72{
  width: 18rem;
}

.in--w-9{
  width: 2.25rem;
}

.in--w-\[100px\]{
  width: 100px;
}

.in--w-\[1px\]{
  width: 1px;
}

.in--w-\[200px\]{
  width: 200px;
}

.in--w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.in--w-full{
  width: 100%;
}

.in--w-px{
  width: 1px;
}

.in--min-w-\[12rem\]{
  min-width: 12rem;
}

.in--min-w-\[8rem\]{
  min-width: 8rem;
}

.in--min-w-\[var\(--radix-select-trigger-width\)\]{
  min-width: var(--radix-select-trigger-width);
}

.in--min-w-max{
  min-width: -moz-max-content;
  min-width: max-content;
}

.in--max-w-\[450px\]{
  max-width: 450px;
}

.in--max-w-lg{
  max-width: 32rem;
}

.in--flex-1{
  flex: 1 1 0%;
}

.in--shrink-0{
  flex-shrink: 0;
}

.in--flex-grow{
  flex-grow: 1;
}

.in--caption-bottom{
  caption-side: bottom;
}

.in--border-collapse{
  border-collapse: collapse;
}

.in--origin-\[0\]{
  transform-origin: 0;
}

.-in--translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-in--translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in---translate-y-4{
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--translate-x-\[-50\%\]{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--translate-y-\[-50\%\]{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--scale-75{
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes in--pop{
  0%{
    transform: scale(.90);
  }

  40%{
    transform: scale(1.02);
  }

  100%{
    transform: scale(1);
  }
}

.in--animate-pop{
  animation: in--pop 0.25s ease-in-out;
}

@keyframes in--pulse{
  50%{
    opacity: .5;
  }
}

.in--animate-pulse{
  animation: in--pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes in--spin{
  to{
    transform: rotate(360deg);
  }
}

.in--animate-spin{
  animation: in--spin 1s linear infinite;
}

.in--cursor-default{
  cursor: default;
}

.in--cursor-pointer{
  cursor: pointer;
}

.in--select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.in--list-none{
  list-style-type: none;
}

.in--grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.in--grid-rows-2{
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.in--flex-row{
  flex-direction: row;
}

.in--flex-col{
  flex-direction: column;
}

.in--flex-col-reverse{
  flex-direction: column-reverse;
}

.in--flex-wrap{
  flex-wrap: wrap;
}

.in--items-start{
  align-items: flex-start;
}

.in--items-end{
  align-items: flex-end;
}

.in--items-center{
  align-items: center;
}

.in--items-stretch{
  align-items: stretch;
}

.in--justify-center{
  justify-content: center;
}

.in--justify-between{
  justify-content: space-between;
}

.in--gap-1{
  gap: 0.25rem;
}

.in--gap-1\.5{
  gap: 0.375rem;
}

.in--gap-2{
  gap: 0.5rem;
}

.in--gap-3{
  gap: 0.75rem;
}

.in--gap-4{
  gap: 1rem;
}

.in--space-x-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.in--space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.in--space-y-1\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}

.in--space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.in--space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.in--overflow-auto{
  overflow: auto;
}

.in--overflow-hidden{
  overflow: hidden;
}

.in--overflow-y-auto{
  overflow-y: auto;
}

.in--overflow-x-hidden{
  overflow-x: hidden;
}

.in--truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.in--whitespace-nowrap{
  white-space: nowrap;
}

.in--break-words{
  overflow-wrap: break-word;
}

.in--rounded-\[2px\]{
  border-radius: 2px;
}

.in--rounded-full{
  border-radius: 9999px;
}

.in--rounded-lg{
  border-radius: var(--in--radius);
}

.in--rounded-md{
  border-radius: calc(var(--in--radius) - 2px);
}

.in--rounded-sm{
  border-radius: calc(var(--in--radius) - 4px);
}

.in--rounded-t-\[10px\]{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.in--border{
  border-width: 1px;
}

.in--border-2{
  border-width: 2px;
}

.in--border-y{
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.in--border-b{
  border-bottom-width: 1px;
}

.in--border-l{
  border-left-width: 1px;
}

.in--border-r{
  border-right-width: 1px;
}

.in--border-t{
  border-top-width: 1px;
}

.in--border-\[--color-border\]{
  border-color: var(--color-border);
}

.in--border-border{
  border-color: hsl(var(--in--border));
}

.in--border-border\/50{
  border-color: hsl(var(--in--border) / 0.5);
}

.in--border-destructive\/50{
  border-color: hsl(var(--in--destructive) / 0.5);
}

.in--border-input{
  border-color: hsl(var(--in--input));
}

.in--border-primary{
  border-color: hsl(var(--in--primary));
}

.in--border-transparent{
  border-color: transparent;
}

.in--bg-\[--color-bg\]{
  background-color: var(--color-bg);
}

.in--bg-accent{
  background-color: hsl(var(--in--accent));
}

.in--bg-background{
  background-color: hsl(var(--in--background));
}

.in--bg-black\/80{
  background-color: rgb(0 0 0 / 0.8);
}

.in--bg-border{
  background-color: hsl(var(--in--border));
}

.in--bg-card{
  background-color: hsl(var(--in--card));
}

.in--bg-destructive{
  background-color: hsl(var(--in--destructive));
}

.in--bg-foreground{
  background-color: hsl(var(--in--foreground));
}

.in--bg-green-500\/20{
  background-color: rgb(34 197 94 / 0.2);
}

.in--bg-muted{
  background-color: hsl(var(--in--muted));
}

.in--bg-muted\/50{
  background-color: hsl(var(--in--muted) / 0.5);
}

.in--bg-popover{
  background-color: hsl(var(--in--popover));
}

.in--bg-primary{
  background-color: hsl(var(--in--primary));
}

.in--bg-red-500\/20{
  background-color: rgb(239 68 68 / 0.2);
}

.in--bg-secondary{
  background-color: hsl(var(--in--secondary));
}

.in--bg-transparent{
  background-color: transparent;
}

.in--fill-current{
  fill: currentColor;
}

.in--p-0{
  padding: 0px;
}

.in--p-1{
  padding: 0.25rem;
}

.in--p-2{
  padding: 0.5rem;
}

.in--p-3{
  padding: 0.75rem;
}

.in--p-4{
  padding: 1rem;
}

.in--p-6{
  padding: 1.5rem;
}

.in--px-1\.5{
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.in--px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.in--px-2\.5{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.in--px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.in--px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.in--px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.in--px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.in--py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.in--py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.in--py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.in--py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.in--py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.in--py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.in--py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.in--pb-3{
  padding-bottom: 0.75rem;
}

.in--pb-4{
  padding-bottom: 1rem;
}

.in--pl-2\.5{
  padding-left: 0.625rem;
}

.in--pl-8{
  padding-left: 2rem;
}

.in--pr-2{
  padding-right: 0.5rem;
}

.in--pr-2\.5{
  padding-right: 0.625rem;
}

.in--pt-0{
  padding-top: 0px;
}

.in--pt-1{
  padding-top: 0.25rem;
}

.in--pt-3{
  padding-top: 0.75rem;
}

.in--text-left{
  text-align: left;
}

.in--text-center{
  text-align: center;
}

.in--align-middle{
  vertical-align: middle;
}

.in--font-mono{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.in--text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.in--text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.in--text-\[0\.8rem\]{
  font-size: 0.8rem;
}

.in--text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.in--text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.in--text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.in--text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.in--font-bold{
  font-weight: 700;
}

.in--font-medium{
  font-weight: 500;
}

.in--font-normal{
  font-weight: 400;
}

.in--font-semibold{
  font-weight: 600;
}

.in--tabular-nums{
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.in--leading-\[unset\]{
  line-height: unset;
}

.in--leading-none{
  line-height: 1;
}

.in--leading-tight{
  line-height: 1.25;
}

.in--tracking-tight{
  letter-spacing: -0.025em;
}

.in--tracking-widest{
  letter-spacing: 0.1em;
}

.in--text-accent-foreground{
  color: hsl(var(--in--accent-foreground));
}

.in--text-card-foreground{
  color: hsl(var(--in--card-foreground));
}

.in--text-current{
  color: currentColor;
}

.in--text-destructive{
  color: hsl(var(--in--destructive));
}

.in--text-destructive-foreground{
  color: hsl(var(--in--destructive-foreground));
}

.in--text-foreground{
  color: hsl(var(--in--foreground));
}

.in--text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.in--text-green-500{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.in--text-muted-foreground{
  color: hsl(var(--in--muted-foreground));
}

.in--text-popover-foreground{
  color: hsl(var(--in--popover-foreground));
}

.in--text-primary{
  color: hsl(var(--in--primary));
}

.in--text-primary-foreground{
  color: hsl(var(--in--primary-foreground));
}

.in--text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.in--text-secondary-foreground{
  color: hsl(var(--in--secondary-foreground));
}

.in--underline-offset-4{
  text-underline-offset: 4px;
}

.in--opacity-0{
  opacity: 0;
}

.in--opacity-100{
  opacity: 1;
}

.in--opacity-50{
  opacity: 0.5;
}

.in--opacity-60{
  opacity: 0.6;
}

.in--opacity-70{
  opacity: 0.7;
}

.in--shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.in--shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.in--shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.in--shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.in--outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.in--ring-0{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.in--ring-2{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.in--ring-ring{
  --tw-ring-color: hsl(var(--in--ring));
}

.in--ring-offset-background{
  --tw-ring-offset-color: hsl(var(--in--background));
}

.in--transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.in--transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.in--transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.in--transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.in--transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.in--duration-1000{
  transition-duration: 1000ms;
}

.in--duration-200{
  transition-duration: 200ms;
}

.in--duration-300{
  transition-duration: 300ms;
}

.in--ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.in--ease-linear{
  transition-timing-function: linear;
}

@keyframes enter{
  from{
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes exit{
  to{
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}

.in--animate-in{
  animation-name: enter;
  animation-duration: 150ms;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.in--fade-in-0{
  --tw-enter-opacity: 0;
}

.in--zoom-in-95{
  --tw-enter-scale: .95;
}

.in--duration-1000{
  animation-duration: 1000ms;
}

.in--duration-200{
  animation-duration: 200ms;
}

.in--duration-300{
  animation-duration: 300ms;
}

.in--ease-in-out{
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.in--ease-linear{
  animation-timing-function: linear;
}

.\[transform-style\:in--preserve-3d\]{
  transform-style: in--preserve-3d;
}

/* Add preview-only styles */

body {
  padding: 2rem;
}

.file\:in--border-0::file-selector-button{
  border-width: 0px;
}

.file\:in--bg-transparent::file-selector-button{
  background-color: transparent;
}

.file\:in--text-sm::file-selector-button{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.file\:in--font-medium::file-selector-button{
  font-weight: 500;
}

.file\:in--text-foreground::file-selector-button{
  color: hsl(var(--in--foreground));
}

.placeholder\:in--text-muted-foreground::-moz-placeholder{
  color: hsl(var(--in--muted-foreground));
}

.placeholder\:in--text-muted-foreground::placeholder{
  color: hsl(var(--in--muted-foreground));
}

.first\:in--rounded-l-md:first-child{
  border-top-left-radius: calc(var(--in--radius) - 2px);
  border-bottom-left-radius: calc(var(--in--radius) - 2px);
}

.first\:in--border-l:first-child{
  border-left-width: 1px;
}

.last\:in--rounded-r-md:last-child{
  border-top-right-radius: calc(var(--in--radius) - 2px);
  border-bottom-right-radius: calc(var(--in--radius) - 2px);
}

.focus-within\:in--relative:focus-within{
  position: relative;
}

.focus-within\:in--z-20:focus-within{
  z-index: 20;
}

.hover\:in--bg-accent:hover{
  background-color: hsl(var(--in--accent));
}

.hover\:in--bg-destructive\/80:hover{
  background-color: hsl(var(--in--destructive) / 0.8);
}

.hover\:in--bg-destructive\/90:hover{
  background-color: hsl(var(--in--destructive) / 0.9);
}

.hover\:in--bg-muted\/50:hover{
  background-color: hsl(var(--in--muted) / 0.5);
}

.hover\:in--bg-primary:hover{
  background-color: hsl(var(--in--primary));
}

.hover\:in--bg-primary\/80:hover{
  background-color: hsl(var(--in--primary) / 0.8);
}

.hover\:in--bg-primary\/90:hover{
  background-color: hsl(var(--in--primary) / 0.9);
}

.hover\:in--bg-secondary\/80:hover{
  background-color: hsl(var(--in--secondary) / 0.8);
}

.hover\:in--text-accent-foreground:hover{
  color: hsl(var(--in--accent-foreground));
}

.hover\:in--text-foreground:hover{
  color: hsl(var(--in--foreground));
}

.hover\:in--text-primary-foreground:hover{
  color: hsl(var(--in--primary-foreground));
}

.hover\:in--underline:hover{
  text-decoration-line: underline;
}

.hover\:in--opacity-100:hover{
  opacity: 1;
}

.focus\:in--bg-accent:focus{
  background-color: hsl(var(--in--accent));
}

.focus\:in--bg-primary:focus{
  background-color: hsl(var(--in--primary));
}

.focus\:in--text-accent-foreground:focus{
  color: hsl(var(--in--accent-foreground));
}

.focus\:in--text-primary-foreground:focus{
  color: hsl(var(--in--primary-foreground));
}

.focus\:in--outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:in--ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:in--ring-ring:focus{
  --tw-ring-color: hsl(var(--in--ring));
}

.focus\:in--ring-offset-2:focus{
  --tw-ring-offset-width: 2px;
}

.focus-visible\:in--outline-none:focus-visible{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-visible\:in--ring-2:focus-visible{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-visible\:in--ring-ring:focus-visible{
  --tw-ring-color: hsl(var(--in--ring));
}

.focus-visible\:in--ring-offset-2:focus-visible{
  --tw-ring-offset-width: 2px;
}

.focus-visible\:in--ring-offset-background:focus-visible{
  --tw-ring-offset-color: hsl(var(--in--background));
}

.active\:in--scale-95:active{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.disabled\:in--pointer-events-none:disabled{
  pointer-events: none;
}

.disabled\:in--cursor-not-allowed:disabled{
  cursor: not-allowed;
}

.disabled\:in--opacity-50:disabled{
  opacity: 0.5;
}

.in--peer:-moz-placeholder-shown ~ .peer-placeholder-shown\:in--top-1\/2{
  top: 50%;
}

.in--peer:placeholder-shown ~ .peer-placeholder-shown\:in--top-1\/2{
  top: 50%;
}

.in--peer:-moz-placeholder-shown ~ .peer-placeholder-shown\:in---translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:placeholder-shown ~ .peer-placeholder-shown\:in---translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:-moz-placeholder-shown ~ .peer-placeholder-shown\:in--scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:placeholder-shown ~ .peer-placeholder-shown\:in--scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:focus ~ .peer-focus\:in--top-2{
  top: 0.5rem;
}

.in--peer:focus ~ .peer-focus\:in---translate-y-4{
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:focus ~ .peer-focus\:in--scale-75{
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.in--peer:focus ~ .peer-focus\:in--px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.in--peer:disabled ~ .peer-disabled\:in--cursor-not-allowed{
  cursor: not-allowed;
}

.in--peer:disabled ~ .peer-disabled\:in--opacity-70{
  opacity: 0.7;
}

.has-\[\:disabled\]\:in--opacity-50:has(:disabled){
  opacity: 0.5;
}

.aria-selected\:in--bg-accent[aria-selected="true"]{
  background-color: hsl(var(--in--accent));
}

.aria-selected\:in--bg-accent\/50[aria-selected="true"]{
  background-color: hsl(var(--in--accent) / 0.5);
}

.aria-selected\:in--text-accent-foreground[aria-selected="true"]{
  color: hsl(var(--in--accent-foreground));
}

.aria-selected\:in--text-muted-foreground[aria-selected="true"]{
  color: hsl(var(--in--muted-foreground));
}

.aria-selected\:in--opacity-100[aria-selected="true"]{
  opacity: 1;
}

.aria-selected\:in--opacity-30[aria-selected="true"]{
  opacity: 0.3;
}

.data-\[disabled\=true\]\:in--pointer-events-none[data-disabled="true"]{
  pointer-events: none;
}

.data-\[disabled\]\:in--pointer-events-none[data-disabled]{
  pointer-events: none;
}

.data-\[side\=bottom\]\:in--translate-y-1[data-side="bottom"]{
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[side\=left\]\:in---translate-x-1[data-side="left"]{
  --tw-translate-x: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[side\=right\]\:in--translate-x-1[data-side="right"]{
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[side\=top\]\:in---translate-y-1[data-side="top"]{
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[state\=checked\]\:in--translate-x-5[data-state="checked"]{
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[state\=unchecked\]\:in--translate-x-0[data-state="unchecked"]{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes in--accordion-up{
  from{
    height: var(--radix-accordion-content-height);
  }

  to{
    height: 0;
  }
}

.data-\[state\=closed\]\:in--animate-accordion-up[data-state="closed"]{
  animation: in--accordion-up 0.2s ease-out;
}

@keyframes in--accordion-down{
  from{
    height: 0;
  }

  to{
    height: var(--radix-accordion-content-height);
  }
}

.data-\[state\=open\]\:in--animate-accordion-down[data-state="open"]{
  animation: in--accordion-down 0.2s ease-out;
}

.data-\[selected\=true\]\:in--bg-accent[data-selected="true"]{
  background-color: hsl(var(--in--accent));
}

.data-\[state\=active\]\:in--bg-background[data-state="active"]{
  background-color: hsl(var(--in--background));
}

.data-\[state\=checked\]\:in--bg-primary[data-state="checked"]{
  background-color: hsl(var(--in--primary));
}

.data-\[state\=open\]\:in--bg-accent[data-state="open"]{
  background-color: hsl(var(--in--accent));
}

.data-\[state\=open\]\:in--bg-secondary[data-state="open"]{
  background-color: hsl(var(--in--secondary));
}

.data-\[state\=selected\]\:in--bg-muted[data-state="selected"]{
  background-color: hsl(var(--in--muted));
}

.data-\[state\=unchecked\]\:in--bg-input[data-state="unchecked"]{
  background-color: hsl(var(--in--input));
}

.data-\[selected\=true\]\:in--text-accent-foreground[data-selected="true"]{
  color: hsl(var(--in--accent-foreground));
}

.data-\[state\=active\]\:in--text-foreground[data-state="active"]{
  color: hsl(var(--in--foreground));
}

.data-\[state\=checked\]\:in--text-primary-foreground[data-state="checked"]{
  color: hsl(var(--in--primary-foreground));
}

.data-\[state\=open\]\:in--text-accent-foreground[data-state="open"]{
  color: hsl(var(--in--accent-foreground));
}

.data-\[state\=open\]\:in--text-muted-foreground[data-state="open"]{
  color: hsl(var(--in--muted-foreground));
}

.data-\[disabled\=true\]\:in--opacity-50[data-disabled="true"]{
  opacity: 0.5;
}

.data-\[disabled\]\:in--opacity-50[data-disabled]{
  opacity: 0.5;
}

.data-\[state\=active\]\:in--shadow-sm[data-state="active"]{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.data-\[state\=closed\]\:in--duration-300[data-state="closed"]{
  transition-duration: 300ms;
}

.data-\[state\=open\]\:in--duration-500[data-state="open"]{
  transition-duration: 500ms;
}

.data-\[state\=open\]\:in--animate-in[data-state="open"]{
  animation-name: enter;
  animation-duration: 150ms;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.data-\[state\=closed\]\:in--animate-out[data-state="closed"]{
  animation-name: exit;
  animation-duration: 150ms;
  --tw-exit-opacity: initial;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: initial;
}

.data-\[state\=closed\]\:in--fade-out-0[data-state="closed"]{
  --tw-exit-opacity: 0;
}

.data-\[state\=open\]\:in--fade-in-0[data-state="open"]{
  --tw-enter-opacity: 0;
}

.data-\[state\=closed\]\:in--zoom-out-95[data-state="closed"]{
  --tw-exit-scale: .95;
}

.data-\[state\=open\]\:in--zoom-in-95[data-state="open"]{
  --tw-enter-scale: .95;
}

.data-\[side\=bottom\]\:in--slide-in-from-top-2[data-side="bottom"]{
  --tw-enter-translate-y: -0.5rem;
}

.data-\[side\=left\]\:in--slide-in-from-right-2[data-side="left"]{
  --tw-enter-translate-x: 0.5rem;
}

.data-\[side\=right\]\:in--slide-in-from-left-2[data-side="right"]{
  --tw-enter-translate-x: -0.5rem;
}

.data-\[side\=top\]\:in--slide-in-from-bottom-2[data-side="top"]{
  --tw-enter-translate-y: 0.5rem;
}

.data-\[state\=closed\]\:in--slide-out-to-bottom[data-state="closed"]{
  --tw-exit-translate-y: 100%;
}

.data-\[state\=closed\]\:in--slide-out-to-left[data-state="closed"]{
  --tw-exit-translate-x: -100%;
}

.data-\[state\=closed\]\:in--slide-out-to-left-1\/2[data-state="closed"]{
  --tw-exit-translate-x: -50%;
}

.data-\[state\=closed\]\:in--slide-out-to-right[data-state="closed"]{
  --tw-exit-translate-x: 100%;
}

.data-\[state\=closed\]\:in--slide-out-to-top[data-state="closed"]{
  --tw-exit-translate-y: -100%;
}

.data-\[state\=closed\]\:in--slide-out-to-top-\[48\%\][data-state="closed"]{
  --tw-exit-translate-y: -48%;
}

.data-\[state\=open\]\:in--slide-in-from-bottom[data-state="open"]{
  --tw-enter-translate-y: 100%;
}

.data-\[state\=open\]\:in--slide-in-from-left[data-state="open"]{
  --tw-enter-translate-x: -100%;
}

.data-\[state\=open\]\:in--slide-in-from-left-1\/2[data-state="open"]{
  --tw-enter-translate-x: -50%;
}

.data-\[state\=open\]\:in--slide-in-from-right[data-state="open"]{
  --tw-enter-translate-x: 100%;
}

.data-\[state\=open\]\:in--slide-in-from-top[data-state="open"]{
  --tw-enter-translate-y: -100%;
}

.data-\[state\=open\]\:in--slide-in-from-top-\[48\%\][data-state="open"]{
  --tw-enter-translate-y: -48%;
}

.data-\[state\=closed\]\:in--duration-300[data-state="closed"]{
  animation-duration: 300ms;
}

.data-\[state\=open\]\:in--duration-500[data-state="open"]{
  animation-duration: 500ms;
}

.dark\:in--border-destructive:is([data-inverter-theme="dark"] *){
  border-color: hsl(var(--in--destructive));
}

.dark\:in--bg-background:is([data-inverter-theme="dark"] *){
  background-color: hsl(var(--in--background));
}

.dark\:hover\:in--shadow-2xl:hover:is([data-inverter-theme="dark"] *){
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark\:hover\:in--shadow-primary\/\[0\.1\]:hover:is([data-inverter-theme="dark"] *){
  --tw-shadow-color: hsl(var(--in--primary) / 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}

@media (min-width: 640px){
  .sm\:in--col-span-3{
    grid-column: span 3 / span 3;
  }

  .sm\:in--col-start-1{
    grid-column-start: 1;
  }

  .sm\:in--col-start-4{
    grid-column-start: 4;
  }

  .sm\:in--col-start-5{
    grid-column-start: 5;
  }

  .sm\:in--col-start-6{
    grid-column-start: 6;
  }

  .sm\:in--row-start-1{
    grid-row-start: 1;
  }

  .sm\:in--m-auto{
    margin: auto;
  }

  .sm\:in--mt-0{
    margin-top: 0px;
  }

  .sm\:in--max-w-\[350px\]{
    max-width: 350px;
  }

  .sm\:in--max-w-\[425px\]{
    max-width: 425px;
  }

  .sm\:in--max-w-sm{
    max-width: 24rem;
  }

  .sm\:in--grid-cols-6{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .sm\:in--grid-rows-1{
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .sm\:in--flex-row{
    flex-direction: row;
  }

  .sm\:in--justify-end{
    justify-content: flex-end;
  }

  .sm\:in--gap-2\.5{
    gap: 0.625rem;
  }

  .sm\:in--space-x-2 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:in--space-x-4 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:in--space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .sm\:in--rounded-lg{
    border-radius: var(--in--radius);
  }

  .sm\:in--text-left{
    text-align: left;
  }
}

@media (min-width: 768px){
  .md\:in--flex-row{
    flex-direction: row;
  }
}

.in--peer:focus ~ .rtl\:peer-focus\:in--left-auto:where([dir="rtl"], [dir="rtl"] *){
  left: auto;
}

.in--peer:focus ~ .rtl\:peer-focus\:in--translate-x-1\/4:where([dir="rtl"], [dir="rtl"] *){
  --tw-translate-x: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.\[\&\:has\(\[aria-selected\]\)\]\:in--bg-accent:has([aria-selected]){
  background-color: hsl(var(--in--accent));
}

.first\:\[\&\:has\(\[aria-selected\]\)\]\:in--rounded-l-md:has([aria-selected]):first-child{
  border-top-left-radius: calc(var(--in--radius) - 2px);
  border-bottom-left-radius: calc(var(--in--radius) - 2px);
}

.last\:\[\&\:has\(\[aria-selected\]\)\]\:in--rounded-r-md:has([aria-selected]):last-child{
  border-top-right-radius: calc(var(--in--radius) - 2px);
  border-bottom-right-radius: calc(var(--in--radius) - 2px);
}

.\[\&\:has\(\[aria-selected\]\.day-outside\)\]\:in--bg-accent\/50:has([aria-selected].day-outside){
  background-color: hsl(var(--in--accent) / 0.5);
}

.\[\&\:has\(\[aria-selected\]\.day-range-end\)\]\:in--rounded-r-md:has([aria-selected].day-range-end){
  border-top-right-radius: calc(var(--in--radius) - 2px);
  border-bottom-right-radius: calc(var(--in--radius) - 2px);
}

.\[\&\:has\(\[role\=checkbox\]\)\]\:in--pr-0:has([role=checkbox]){
  padding-right: 0px;
}

.\[\&\>\*\]\:\[transform-style\:in--preserve-3d\]>*{
  transform-style: in--preserve-3d;
}

.\[\&\>span\]\:in--line-clamp-1>span{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.\[\&\>svg\+div\]\:in--translate-y-\[-3px\]>svg+div{
  --tw-translate-y: -3px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.\[\&\>svg\]\:in--absolute>svg{
  position: absolute;
}

.\[\&\>svg\]\:in--left-4>svg{
  left: 1rem;
}

.\[\&\>svg\]\:in--top-4>svg{
  top: 1rem;
}

.\[\&\>svg\]\:in--size-3\.5>svg{
  width: 0.875rem;
  height: 0.875rem;
}

.\[\&\>svg\]\:in--h-2\.5>svg{
  height: 0.625rem;
}

.\[\&\>svg\]\:in--h-3>svg{
  height: 0.75rem;
}

.\[\&\>svg\]\:in--w-2\.5>svg{
  width: 0.625rem;
}

.\[\&\>svg\]\:in--w-3>svg{
  width: 0.75rem;
}

.\[\&\>svg\]\:in--text-destructive>svg{
  color: hsl(var(--in--destructive));
}

.\[\&\>svg\]\:in--text-foreground>svg{
  color: hsl(var(--in--foreground));
}

.\[\&\>svg\]\:in--text-muted-foreground>svg{
  color: hsl(var(--in--muted-foreground));
}

.\[\&\>svg\~\*\]\:in--pl-7>svg~*{
  padding-left: 1.75rem;
}

.\[\&\>tr\]\:last\:in--border-b-0:last-child>tr{
  border-bottom-width: 0px;
}

.\[\&\[data-state\=open\]\>svg\]\:in--rotate-180[data-state=open]>svg{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.\[\&_\.recharts-cartesian-axis-tick_text\]\:in--fill-muted-foreground .recharts-cartesian-axis-tick text{
  fill: hsl(var(--in--muted-foreground));
}

.\[\&_\.recharts-cartesian-grid_line\[stroke\=\#ccc\]\]\:in--stroke-border\/50 .recharts-cartesian-grid line[stroke=#ccc]{
  stroke: hsl(var(--in--border) / 0.5);
}

.\[\&_\.recharts-curve\.recharts-tooltip-cursor\]\:in--stroke-border .recharts-curve.recharts-tooltip-cursor{
  stroke: hsl(var(--in--border));
}

.\[\&_\.recharts-dot\[stroke\=\#fff\]\]\:in--stroke-transparent .recharts-dot[stroke=#fff]{
  stroke: transparent;
}

.\[\&_\.recharts-layer\]\:in--outline-none .recharts-layer{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.\[\&_\.recharts-polar-grid_\[stroke\=\#ccc\]\]\:in--stroke-border .recharts-polar-grid [stroke=#ccc]{
  stroke: hsl(var(--in--border));
}

.\[\&_\.recharts-radial-bar-background-sector\]\:in--fill-muted .recharts-radial-bar-background-sector{
  fill: hsl(var(--in--muted));
}

.\[\&_\.recharts-rectangle\.recharts-tooltip-cursor\]\:in--fill-muted .recharts-rectangle.recharts-tooltip-cursor{
  fill: hsl(var(--in--muted));
}

.\[\&_\.recharts-reference-line_\[stroke\=\#ccc\]\]\:in--stroke-border .recharts-reference-line [stroke=#ccc]{
  stroke: hsl(var(--in--border));
}

.\[\&_\.recharts-sector\[stroke\=\#fff\]\]\:in--stroke-transparent .recharts-sector[stroke=#fff]{
  stroke: transparent;
}

.\[\&_\.recharts-sector\]\:in--outline-none .recharts-sector{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.\[\&_\.recharts-surface\]\:in--outline-none .recharts-surface{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.\[\&_\[cmdk-group-heading\]\]\:in--px-2 [cmdk-group-heading]{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.\[\&_\[cmdk-group-heading\]\]\:in--py-1\.5 [cmdk-group-heading]{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.\[\&_\[cmdk-group-heading\]\]\:in--text-xs [cmdk-group-heading]{
  font-size: 0.75rem;
  line-height: 1rem;
}

.\[\&_\[cmdk-group-heading\]\]\:in--font-medium [cmdk-group-heading]{
  font-weight: 500;
}

.\[\&_\[cmdk-group-heading\]\]\:in--text-muted-foreground [cmdk-group-heading]{
  color: hsl(var(--in--muted-foreground));
}

.\[\&_\[cmdk-group\]\:not\(\[hidden\]\)_\~\[cmdk-group\]\]\:in--pt-0 [cmdk-group]:not([hidden]) ~[cmdk-group]{
  padding-top: 0px;
}

.\[\&_\[cmdk-group\]\]\:in--px-2 [cmdk-group]{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.\[\&_\[cmdk-input-wrapper\]_svg\]\:in--h-5 [cmdk-input-wrapper] svg{
  height: 1.25rem;
}

.\[\&_\[cmdk-input-wrapper\]_svg\]\:in--w-5 [cmdk-input-wrapper] svg{
  width: 1.25rem;
}

.\[\&_\[cmdk-input\]\]\:in--h-12 [cmdk-input]{
  height: 3rem;
}

.\[\&_\[cmdk-item\]\]\:in--px-2 [cmdk-item]{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.\[\&_\[cmdk-item\]\]\:in--py-3 [cmdk-item]{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.\[\&_\[cmdk-item\]_svg\]\:in--h-5 [cmdk-item] svg{
  height: 1.25rem;
}

.\[\&_\[cmdk-item\]_svg\]\:in--w-5 [cmdk-item] svg{
  width: 1.25rem;
}

.\[\&_\[role\=\"tab\"\]\]\:in--flex-1 [role="tab"]{
  flex: 1 1 0%;
}

.\[\&_\[role\=\"tablist\"\]\]\:in--h-10 [role="tablist"]{
  height: 2.5rem;
}

.\[\&_\[role\=\"tablist\"\]\]\:in--h-max [role="tablist"]{
  height: -moz-max-content;
  height: max-content;
}

.\[\&_\[role\=\"tablist\"\]\]\:in--w-full [role="tablist"]{
  width: 100%;
}

.\[\&_\[role\=\"tablist\"\]\]\:in--flex-wrap [role="tablist"]{
  flex-wrap: wrap;
}

.\[\&_p\]\:in--leading-relaxed p{
  line-height: 1.625;
}

.\[\&_tr\:last-child\]\:in--border-0 tr:last-child{
  border-width: 0px;
}

.\[\&_tr\]\:in--border-b tr{
  border-bottom-width: 1px;
}
  